<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-12">
          <h1>Entrepreneurship at Kellogg</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
		  <%= link_to "Entrepreneurship Courses", "/courses", "class" => "item-link" %> |
          <%= link_to "Business Plan Competitions", "/competitions", "class" => "item-link"  %> |
          <%= link_to "Startups", "/startups" %> 
        </div>
        </div>
		<div class="pull-right">
           <%= link_to "Add a Business Plan Competition", "/competitions/new", "class" => "item-link"  %> |
           <%= link_to "Add a Startup", "/startups/new" %>
      </div>
      <hr>
      <h4 class="text-warning"><%= notice %></h4>
    </div>


    <%= yield %>

  <div>

</body>
</html>
